.product{
    margin-bottom: 40px;
    display: flex;
    padding:10px;
}
.one{
    color:darkblue;
    font-size: 80px;
    font-weight: 300px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.two{
    color:cornflowerblue;
    font-family: cursive;
    font-size: 50px;
}